<div class="container">
  <form class="form-signin" [formGroup]="petForm">
    <input
      *ngIf="method !== 'detail'"
      type="file"
      accept="image/*"
      (change)="onImageChanged($event)"
    />

    <div class="imageContainer">
      <img class="image" [src]="petImage | safeHtml" width="300" height="300" />
    </div>
    <div class="row w-100 center">
      <div class="form-label-group petData">
        <label class="text">Nome</label>
        <input
          [attr.disabled]="method === 'detail' ? 'disabled' : null"
          formControlName="name"
          placeholder="Nome"
          class="form-control"
          required
          autofocus
        />
      </div>
      <div class="form-label-group petData">
        <label class="text">Raça</label>
        <input
          [attr.disabled]="method === 'detail' ? 'disabled' : null"
          formControlName="breed"
          placeholder="Raça"
          class="form-control"
          required
          autofocus
        />
      </div>
    </div>
    <div class="row w-100 center">
      <div class="form-label-group petInfo">
        <label class="text">Idade</label>
        <input
          [attr.disabled]="method === 'detail' ? 'disabled' : null"
          formControlName="age"
          placeholder="Idade"
          type="number"
          class="form-control"
          required
          autofocus
        />
      </div>
      <div class="form-label-group petInfo">
        <label class="text">Genero</label>
        <select
          [attr.disabled]="method === 'detail' ? 'disabled' : null"
          class="form-control"
          formControlName="gender"
        >
          <option value="" selected disabled hidden>Selecione</option>
          <option value="m">Macho</option>
          <option value="f">Femea</option>
        </select>
      </div>
      <div class="form-label-group petInfo">
        <label class="text">Espécie</label>
        <input
          [attr.disabled]="method === 'detail' ? 'disabled' : null"
          formControlName="species"
          placeholder="Espécie"
          class="form-control"
          required
          autofocus
        />
      </div>
    </div>
    <div class="row w-100 center">
      <div class="form-label-group description">
        <label class="text">Descrição</label>
        <textarea
          [attr.disabled]="method === 'detail' ? 'disabled' : null"
          formControlName="description"
          placeholder="Descrição"
          class="form-control"
          required
          rows="10"
          autofocus
        ></textarea>
      </div>
    </div>
    <div *ngIf="method === 'create'" class="row w-100 center buttonContainer">
      <button
        (click)="create()"
        class="btn btn-block btn-lg btn-secondary text-uppercase"
      >
        Criar
      </button>
    </div>
    <div *ngIf="method === 'update'" class="row w-100 center buttonContainer">
      <button
        (click)="savePet()"
        class="btn btn-block btn-lg btn-secondary text-uppercase"
      >
        Atualizar
      </button>
    </div>
    <div class="comments">
      <app-comments></app-comments>
    </div>
    <ng-container *ngIf="method === 'detail'">
      <div class="detailsButtons" *ngIf="isOwner">
        <div class="row center">
          <button
            (click)="remove()"
            class="btn btn-block btn-lg btn-danger text-uppercase"
          >
            Remover
          </button>
        </div>
        <div class="row center">
          <button
            (click)="editPet()"
            class="btn btn-block btn-lg btn-secondary text-uppercase"
          >
            Editar
          </button>
        </div>
      </div>
    </ng-container>
  </form>
</div>
