.description {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10px;
}

.comment {
  background-color: gainsboro;
  padding: 10px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  border-radius: 20px;
}
